<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE suite SYSTEM "https://testng.org/testng-1.0.dtd">
<suite name="Suite">

	<listeners>
		<listener
			class-name="coreJavaLearning.TestngListenersLearning" />
	</listeners>
	<test thread-count="5" name="Test">
		<classes>
			<!-- <class name="CucumberRunner" /> -->
			<class name="coreJavaLearning.TestngLearning" />
			<class name="coreJavaLearning.TestngLearning2" />
			<class name="coreJavaLearning.ExtentReportLearning" />
		</classes>
	</test> <!-- Test -->
</suite> <!-- Suite -->
